# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


*.cache
*.exe
*.config
*.dll
*.pdb
MinigngHelper/bin/*
MinigngHelper/obj/*
NiceHashAPI/bin/*
NiceHashAPI/obj/*
NiceHashMonitor/bin/*
NiceHashMonitor/obj/*